.page-container {
  background-size: cover;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.card-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mat-card-1 {
  max-height: 650px;
  max-width: 800px;
  display: flex;
  text-align: center;
  background: #ffffff82;
}

.profile-container {
  flex-direction: row;
  display: flex;
  align-items: flex-end; /* Allinea la base dell'immagine e del testo */
  max-height: 500px;
}

.profile-introduction {
  margin-left: 20px;
  margin-right: 20px;
  background: #b3adad;
}

.profile-picture {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; /* Allinea l'immagine al fondo */
}

.profile-picture img {
  max-width: 200px;
  height: auto;
  max-height: 400px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

.list-style {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 600px;
}

.list-style mat-list-item {
  transition: transform 0.1s ease-in-out;
  display: flex;
  align-items: center; /* Allinea le icone verticalmente con il testo */
}

.list-style mat-icon {
  margin-right: 10px;
}

.list-style mat-icon {
  margin-right: 10px; /* Distanza tra icona e testo */
  vertical-align: middle; /* Allinea verticalmente l'icona con il testo */
  font-size: 24px; /* Puoi regolare la dimensione dell'icona se necessario */
}

mat-list-item:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .profile-introduction {
    max-height: 300px; /* Imposta un'altezza massima per attivare lo scroll */
    overflow-y: auto; /* Abilita lo scroll verticale */
    overflow-x: hidden; /* Evita lo scroll orizzontale */
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile-container {
    max-width: 400px;
  }

  .profile-picture {
    display: none;
  }

  .list-style {
    max-width: 400px;
  }
}

mat-divider {
  border-top-width: 2px; /* Spessore */
  border-color: rgba(92, 89, 89, 0.462); /* Colore */
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
