<mat-icon
  class="back-button"
  *ngIf="showDetailedCard"
  (click)="activeDetailedCard('')"
  >arrow_back</mat-icon
>
<div class="card-container">
  <mat-card
    class="mat-card"
    *ngIf="!showDetailedCard"
    [class.animated]="!animateCard"
  >
    <div class="profile-container">
      <div class="profile-picture">
        <img src="../../assets/img/profile.png" />
      </div>
      <mat-card class="profile-introduction">
        <h3>{{ introduction.title }}</h3>
        <p>
          {{ introduction.description }}
        </p>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <mat-list class="list-style">
      <mat-list-item (click)="activeDetailedCard('cv')">
        <mat-icon style="color: blue">assignment</mat-icon>
        <label>Curriculum Vitae</label>
      </mat-list-item>

      <mat-list-item (click)="activeDetailedCard('certifications')">
        <mat-icon style="color: red">workspace_premium</mat-icon>
        <label>Certifications</label>
      </mat-list-item>

      <mat-list-item (click)="activeDetailedCard('projects')">
        <mat-icon style="color: green">work</mat-icon>
        <label>Projects</label>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card
    *ngIf="showDetailedCard"
    class="mat-card mat-card-detail"
    [class.animated]="animateCard"
  >
    <div *ngIf="currentview === 'cv'" class="details-container">
      <app-cv-details style="background: black"></app-cv-details>
    </div>

    <div *ngIf="currentview === 'certifications'">
      <app-certifications></app-certifications>
    </div>

    <div *ngIf="currentview === 'projects'">
      <app-projects></app-projects>
    </div>
  </mat-card>
</div>
