.page-container {
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  
  .card-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mat-card{
      height: 650px;
      width: 800px;
      justify-content: center; 
      align-items: center; 
      text-align: center;
      background: #ffffffb3;
      display: flex;
  }

  .accordion {
    flex: 1; 
    width: auto;
    overflow-y: auto;
    width: 790px;
  }

  mat-accordion, mat-expansion-panel, at-expansion-panel-header{
    background: #ffffffb3;
  }

  
    @media (max-height: 800px) {
      .card-container{
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .mat-card {
        height: auto;
        width: auto;
        max-height: 650px;
        max-width: 800px;
      }
      .accordion{
        height: auto;
        width: auto;
        max-height: 650px;
        max-width: 790px;
      }
    }
  
    @media (max-width: 420px) {
      .mat-card {
        height: auto;
        width: auto;
        max-height: 650px;
        max-width: 800px;
      }

      .accordion{
        height: auto;
        width: auto;
        max-height: 650px;
        max-width: 790px;
      }
    }
    .mat-card:hover{
      cursor: pointer;
      /* box-shadow: 0px 4px 10px -2px rgb(21, 105, 116)  */
      box-shadow: 0px 4px 10px -2px rgb(255, 255, 255);
    }

    .cv-item {
      margin-bottom: 15px;
    }
    