/* Pannello principale */
.custom-panel {
  width: 100%;
  border-bottom: 1px solid #0000005f;
  transition: all 0.3s ease-in-out;
  color: #444;
  border-radius: 0px;
}

/* Header del pannello */
mat-expansion-panel-header {
  font-weight: bold;
  height: 133px;
  background: #a3effd5e;
  border-bottom: 3px solid #7dd9e9;
}

/* Contenuto dell'header con i due estremi */
.panel-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Stile per job role (sinistra) */
.job-role {
  font-weight: 500;
  color: #000000;
  text-align: left;
}

/* Stile per company (destra) */
.job-company {
  color: #000000;
  font-style: italic;
  text-align: right;
}

/* Dettagli corpo pannello */
.job-details {
  padding: 16px;
  font-size: 17px;
  line-height: 1.6;
  color: #000000;
}

/* Titoli */
h4 {
  color: #055866;
  margin-top: 10px;
}

li {
  margin: 20px;
}
