    <div class="page-container">
      <div class="card-container">
        <mat-card class="mat-card" style="border: 5px solid rgb(233 79 131);;" (click)="goTo('certifications')">
          <h3>Certifications</h3>
        </mat-card>
        <mat-card class="mat-card" style="border: 5px solid rgb(123, 228, 242);" (click)="goTo('cv')">
          <h3>Curriculum Vitae</h3>
        </mat-card>
        <mat-card class="mat-card" style="border: 5px solid rgb(111 178 67);" (click)="goTo('cv')">
          <h3>Projects</h3>
        </mat-card>
      </div>
      <!-- <div class="img-container">
        <div class="label-container">
          <h1 class="large-label">Davide Valenti <br> Front-End Developer</h1>
        </div>
        <img src="assets/img/bg2.png" alt="Descrizione dell'immagine" />
      </div> -->
    </div>


