/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(9 9 11);
}

app-root {
  background: url("assets/img/bg10.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-footer {
  margin-top: auto; /* Questo ancorerebbe il footer in basso */
}
